/* Eric Meyer's Reset CSS v2.0 - http://cssreset.com */
html,body,div,span,applet,object,iframe,h1,h2,h3,h4,h5,h6,p,blockquote,pre,a,abbr,acronym,address,big,cite,code,del,dfn,em,img,ins,kbd,q,s,samp,small,strike,strong,sub,sup,tt,var,b,u,i,center,dl,dt,dd,ol,ul,li,fieldset,form,label,legend,table,caption,tbody,tfoot,thead,tr,th,td,article,aside,canvas,details,embed,figure,figcaption,footer,header,hgroup,menu,nav,output,ruby,section,summary,time,mark,audio,video{border:0;font-size:100%;font:inherit;vertical-align:baseline;margin:0;padding:0}article,aside,details,figcaption,figure,footer,header,hgroup,menu,nav,section{display:block}body{line-height:1}ol,ul{list-style:none}blockquote,q{quotes:none}blockquote:before,blockquote:after,q:before,q:after{content:none}table{border-collapse:collapse;border-spacing:0}


/* group */
.group:before,
.group:after {
    content:"";
    display:table;
}
.group:after  { clear:both; }
.group        { zoom:1; /* For IE 6/7 (trigger hasLayout) */ }



html{
font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
font-size: 18px;
color: #555;
}

body{
  width: 1024px;
  margin: 0 auto;
  line-height: 1.4em;
  
  /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#aadcd1+0,1d7fc0+100 */
  background: #aadcd1; /* Old browsers */
  background: -moz-linear-gradient(top,  #aadcd1 0%, #1d7fc0 100%); /* FF3.6-15 */
  background: -webkit-linear-gradient(top,  #aadcd1 0%,#1d7fc0 100%); /* Chrome10-25,Safari5.1-6 */
  background: linear-gradient(to bottom,  #aadcd1 0%,#1d7fc0 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#aadcd1', endColorstr='#1d7fc0',GradientType=0 ); /* IE6-9 */

}

a{
  color: inherit;  
}

h1{
  font-size: 30px;
  font-weight: bold;
  margin: 1em 0 0.6em;
}

h2{
font-size: 23px;
font-weight: bold;
margin: 40px 0 10px;  
}

#hero{
  color: #5FA5A8;
  height: 600px;
  padding-top: 52px;
}

#hero #whale{
width: 580px;
float: left;  
}

#hero h1{
padding-top: 140px;
font-size: 60px; 
}

#hero h2{
font-size: 19px; 
line-height: 1.2em; 
margin: 10px 0 20px;
}

.code{
  background: #333;
  padding: 20px;
  color: #fff;
  margin: 20px 0;
}
.code .bracket{
  color: #fff;
}
.code .string{
  color: #90D9D7;
}
.code .padded{
  padding-left: 15px;
}


.button{
border-radius: 6px;
margin-right: 15px;
border: 1px solid;
background: #fff;
display: inline-block;
padding: 1em 1em;
text-decoration: none;
text-align: center;
box-sizing: border-box;
}


.demoBlock{
  width: 25%;
  float: left;
}
.demoMenu{
  border: 1px solid #fff;
  width: 25%;
  float: left;
  background: #5FA5A8;
  color: #fff;
  box-sizing: border-box;
  padding: 1em;
}

.demoButton{
background: #5FA5A8;
color: #fff;
padding: 0.5em 1em;
display: block;
margin: 14px auto;
width: 80%;
border-radius: 6px;
}

.demoListItem{
border: 1px solid #5FA5A8;color: #5fa5ab;
padding: 0.5em;
background: #fff;
}

.selected{
  background: red;
}
